header { grid-area: title; }
nav { grid-area: navigation; }
aside { grid-area: sidebar; }
main { grid-area: posts; }
footer { grid-area: footer; }

.container{
    display: grid;
    grid-template-areas:
    "title title title"
    "navigation navigation navigation"
    "posts posts posts"
    "footer footer footer";

    }

#TT{
    color: white;
    font-weight: bold;
    position:absolute;
    top: 105px;
    right: 55px;
}

.TT-POS{
    position: relative;
}
body{
    background-color: rgb(16, 15, 15);
    color: darkgrey;
}

header{
    display: flex;
    justify-content:left  ;
    margin-bottom: 3px;
    background: linear-gradient(to right, #333, #333 50%, #eee 75%, #333 95%);
}
h1{
    text-align: center;
    border-bottom: 2px solid rgb(50, 48, 48);
}




@media (max-width: 550px) {
    .container {
        grid-template-areas: 
        "title"
        "navigation"
        "posts"
        "footer";
    }
}
