header { grid-area: title; }
nav { grid-area: navigation; }
aside { grid-area: sidebar; }
main { grid-area: posts; }
footer { grid-area: footer; }

.container{
    display: grid;
    grid-template-areas:
    "title title title"
    "navigation navigation navigation"
    "posts posts posts"
    "footer footer footer";

    }

#TT{
    color: white;
    font-weight: bold;
    position:absolute;
    top: 105px;
    right: 25px;
}

.TT-POS{
    border:3px solid black;
    position: relative;
}
header{
    display: flex;
    justify-content:right  ;
    margin-bottom: 3px;
}