header { grid-area: title; }
nav { grid-area: navigation; }
aside { grid-area: sidebar; }
main { grid-area: posts; }
footer { grid-area: footer; }

.container{
    display: grid;
    grid-template-areas:
    "title title title"
    "navigation navigation navigation"
    "posts posts posts"
    "footer footer footer";

    }
    .fit-picture{
        width: 250px;
        text-align: center;
    }

#TT{
    color: white ;
    font-weight: bold;
    position:absolute;
    top: 100px;
    right: 155px;
}

.TT-POS{
    position: relative;
}

.clip-circle{
    clip-path: circle(100px at center);
}

body{
    background-color: rgb(16, 15, 15);
    color: darkgrey;
}

header{
    display: flex;
    justify-content:left  ;
    margin-bottom: 3px;
    background: linear-gradient(to right, #333, #333 50%, #eee 75%, #333 95%);
}
h1{
    text-align: center;
    border-bottom: 2px solid rgb(50, 48, 48);
}

nav{
    text-align: center;
    color: lightgoldenrodyellow;
}

a{
    text-decoration: none;
}

a:link{
    color: lightyellow;
}
a:visited{
    color: mistyrose;
}
a:hover{
    color: powderblue;
}

#GOW{
    font-size: small ;
}


main{
    font-size: medium ;
}



@media (max-width: 550px) {
    .container {
        grid-template-areas: 
        "title"
        "navigation"
        "posts"
        "footer";
    }
    h1{
        font-size: large;
    }
}
